language: generic

matrix:
    include:
        - os: osx

before_install:
    # Avoid old ruby version. Ref: https://github.com/travis-ci/travis.rb/issues/586
    - if [ $TRAVIS_OS_NAME = osx ]; then sudo gem uninstall travis ;fi
    - if [ $TRAVIS_OS_NAME = osx ]; then sudo gem install travis -v 1.8.8 --no-rdoc --no-ri ;fi
    - if [ $TRAVIS_OS_NAME = osx ]; then HOMEBREW_NO_AUTO_UPDATE=1 brew install jq cabal-install;fi

install:
    - true

script:
    - bash -x release.sh init
    - travis_wait 40 bash -x release.sh bump
